.card {
  width: 220px;
  height: 280px;
  padding: 1.5rem;
  box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.2);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  place-self: center;
}

.imgContainer {
  width: 100%;
  height: 160px;
  margin-top: 1rem;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.info {
  font-size: 0.85rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.title,
.price {
  margin: 0;
}

.price {
  color: #888;
}
