.item {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 3rem;
  border-top: 1px solid #ccc;
}

.item:last-child {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}

.image {
  min-width: 60px;
  height: 60px;
}

.image img {
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.item button {
  padding: 0 0 2px;
  display: grid;
  place-items: center;
}

.deleteBtn {
  min-width: 2em;
  min-height: 2rem;
  background-color: #fff;
  border: 1px solid lightgray;
  color: #888;
  font-size: 1rem;
}

.info {
  width: 30vw;
  display: flex;
  flex-direction: column;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quantity button {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #333;
}

input {
  width: 1rem;
  text-align: center;
  background-color: #fff;
  color: #333;
  font-weight: bold;
}

.price,
.totalPrice {
  font-weight: bold;
}
